<section>
	<div>
		Logo
	</div>
	<nav>
		<ul>
			<li>
				Rubrique 1
			</li>
			<li>
				Rubrique 2
			</li>
			<li>
				Rubrique 3
			</li>
			<li>
				Rubrique 4
			</li>
			<li>
				Rubrique 5
			</li>
			<li>
				Rubrique 6
			</li>
		</ul>
	</nav>
	<a href="#">
		quizz
	</a>
	<a href="#">
		Aller sur le blog
	</a>
</section>
