<section>
	<h2>
		Les engagements en faveur de l'emballage
	</h2>
	<ul>
		<li>
			<p>
				Réduire
			</p>
			<p>
				le vide et optimiser la consommation d'emballages
			</p>
		</li>
		<li>
			<p>
				Réutiliser
			</p>
			<p>
				les emballages
			</p>
		</li>
		<li>
			<p>
				Remplacer
			</p>
			<p>
				les emballages à fort potentiel...
			</p>
		</li>
		<li>
			<p>
				Renouveler
			</p>
			<p>
				utiliser des emballages biosourcés et recyclés
			</p>
		</li>
		<li>
			<p>
				Recycler
			</p>
			<p>
				les emballages pour valoriser les déchets
			</p>
		</li>
	</ul>
	<a href="#">
		En savoir plus
	</a>
</section>
