<div class="actualite">
	<h2>
		Les actualités éco-responsables
	</h2>

	<div class="card">
		<img src="" alt="">
		<div class="date">
			ENQUÊTE • Janvier 2019
		</div>
		<p class="titre">
			L'écologie dans le top 4 des priorités des marchands | RAJA
		</p>
		<a href="#" target="_blank" rel="noopener noreferrer">
			Lire l'article
		</a>
	</div>

	<div class="card">
		<img src="" alt="">
		<div class="date">
			ENQUÊTE • Mai 2019
		</div>
		<p class="titre">
			L'écologie dans le top 4 des priorités des marchands | RAJA
		</p>
		<a href="#" target="_blank" rel="noopener noreferrer">
			Lire l'article
		</a>
	</div>
</div>
